<img src="Pics/PardeeCenterLogo_finalnew.png" />

<b>Checklist before the launch:<b>

<input type="checkbox" checked> Python 3.7 installed (standalone or through Anacoda)

<input type="checkbox" checked> JupyterNotebook or JupyterLab installed 3.7 (standalone or through Anacoda)

<input type="checkbox"> Know how to create a notebook and run a Python code

# Basic Types: ints, floats, strings
- ints are just integers, whole numbers. Student ID 873300001
- floats are numbers with decimal points, or numbers with fractional parts. Weight 165.5 lbs
- strings are letters, words, texts, or anything that are surrounded by double or single quotes. Name "Yutang"

Use function <font color="red">type()<font/> to check the type of an object

In [18]:
print(1,type(1))
print(1.0,type(1.0))
print("1",type("1"))

1 <class 'int'>
1.0 <class 'float'>
1 <class 'str'>

## More on basic types:

- Value of a float has a limit, which you don't normally reach in the real world, around $10^{308}$ ?

- Sometimes you can convert from one type to another using:
    - int() to ints
    - float() to floats
    - str() to strings

In [31]:
print( int(23.6), type(int(23.6)) )
print( float(23), type(float(23)) )
print( str(23), type(str(23)) )
str(23)

23 <class 'int'>
23.0 <class 'float'>
23 <class 'str'>

'23'

# Variables: names of objects which could be used later to refer to the objects

- Variable names can only contain letters, digits, and underscores
- Variable name cannot begin with a digit
- It is  not a good practice to begin with underscores
- Do not use built-in keywords or functions as variable names, or it will overwrtie those built-ins <br>
https://docs.python.org/3.7/reference/lexical_analysis.html#keywords <br>
https://docs.python.org/3.7/library/functions.html#built-in-funcs

üëç  üíØ  ‚úîÔ∏è Valid variable names: country1, iphone15, Class1_Student2  <br>
üëé  üö´  ‚ùìInvalid variable names : 1class_2student, iphone-6s, print