<img src="Pics/PardeeCenterLogo_finalnew.png" />

# Session 1 Data Structures
1. How do we store data (with various types introduced)?
    - Student ID in a class
    - States/provinces of a country
2. How do we retrieve the data from where it was stored?
    - Student ID of the last student entered in this class
    - States/provinces of a country

In [1]:
course1_id1=871
course1_id2=872
course1_id3=873

us_state1="CO"
us_state2="AZ"
us_state3="MO"

# Lists: sequences of <font color='red'>Any Values </font>
A comma separated list of values surrounded by brackets: [value1 , value2, value3]. To create a list:
1. Type it as instructed [ 1, "let's go list", 0.5 ]
2. Use function list() -- covered later if time permits

Since a list can have <font color='red'>Any Values </font> in it, you can put a list into another list- nested list!

A list can store a sequence of values which indicates that values in a list have a certain order. In addition, a list is sliceable- you can get a sublist from the original list. To get a sublist from a list (slicing), you use the colon operater <font color='red'>:</font> surrounded by the starting position and end position of a list. For instance, <font color='red'>ARandomList[2:5]</font> is getting the 3rd to the 5th element out of that list (3 elements in total). 

<b>Notes:</b> <br>
1.Python is 0-indexed! (As opposed to R which is 1-indexed) <br>
2.0 means the first position, meanwhile -1 represents the last position <br> 
3.Indexing from a nested list could be done in one line. <br>
4.Strings and Lists behave very similar.

## Practice- Lists
Back to the questions, and more details: we have a small class with only 3 registered students, each of them comes from a different state. The student with ID 871 is the first one who walks into the class today, then student 872 follows, and student 873 arrives last. To present this information, we can create two lists with respect to the order of when each student walked in. Using indices, we retrieve the values from lists and show the ID of the first arrived student and that student's state.

Alternatively, we can create a nested list, with each list only containing one student's ID and state. 

With stored information, we can also show the information of the first 2 students.

In [2]:
sid=[871,872,873]
state=["CO","AZ","MO"]
print(sid[2],state[2])

873 MO

In [3]:
sid=[871,872,873]
state=["CO","AZ","MO"]
print(sid[2],state[2])
print("----------------------")
print(state[-1])
print(state[0:2])
print(state[1:])

873 FL
----------------------
FL
['CO', 'AZ']
['AZ', 'FL']

In [3]:
student=[
    [871, "CO"],
    [872, "AZ"],
    [873, "FL"]
]
print(student[2])
print("----------------------")
print(student[2][0])

[873, 'FL']
----------------------
873

## More on Lists

In [5]:
# How many elements in a list? (How long is the list?)
len(student)

3

In [5]:
# What if I need more elements added into a created list?
sid+[876,9909,871203,1414312]

[871, 872, 873, 876, 9909, 871203, 1414312]

In [10]:
# sort list?
l1=[2,4,6,3,1]
print(l1)
l1.sort()
print(l1)

[2, 4, 6, 3, 1]
[1, 2, 3, 4, 6]

# Dictonaries: Store key & value pairs and access them through the key.

Unlike sequences of values where you retrieve information by indices, dictonaries provide another option: You can directly access an object's information by this object's ID. In addition, you can choose what should be the ID to represent that object. 

To create a dictionary, use open & close braces<font color='red'>{}</font> with keys and values inside, each key should be separated by comma<font color='red'>,</font> and each key-values pair is connected with a colon <font color='red'>:</font>. A quick example: {"Bob":872}. To initialize an empty dictionary, you can either use {}, or dict()

Back to the student example, as an administrator, by having the student ID, you want to be able to see that student's detailed information such as phone number, email address, and degree level. If this is achieved through lists, you have to type in the information very carefully in a certain order, in the mean time, finding a student's information by his/her student ID would be hard since you will need to remember the position where his/her info was stored.

In [12]:
student_list=[
        [871, "CO","Jack@du.edu",3030001234],
        [872, "AZ","Bob@du.edu",3030001235],
        [873, "FL","Lisa@du.edu",3030001236],
        [874, "CO","Madison@du.edu",3030002231],
        [875, "LA","James@du.edu",3030002232]
]
# see how many students we have and info of the 1st student
print(len(student_list))
print(student_list[0])

5
[871, 'CO', 'Jack@du.edu', 3030001234]

In [15]:
student_dict={
    871:["CO","Jack@du.edu",3030001234],
    872:["AZ","Bob@du.edu",3030001235],
    873:["FL","Lisa@du.edu",3030001236],
    874:["CO","Madison@du.edu",3030002231],
    875:["LA","James@du.edu",3030002232]
}
# see how many students we have and info of student with an ID 871
print(len(student_dict))
print(student_dict[871])

5
['CO', 'Jack@du.edu', 3030001234]

## More on Dictionaries

In [18]:
student_dict

{871: ['CO', 'Jack@du.edu', 3030001234],
 872: ['AZ', 'Bob@du.edu', 3030001235],
 873: ['FL', 'Lisa@du.edu', 3030001236],
 874: ['CO', 'Madison@du.edu', 3030002231],
 875: ['LA', 'James@du.edu', 3030002232]}

In [19]:
student_dict.pop(873)

['FL', 'Lisa@du.edu', 3030001236]

In [20]:
student_dict

{871: ['CO', 'Jack@du.edu', 3030001234],
 872: ['AZ', 'Bob@du.edu', 3030001235],
 874: ['CO', 'Madison@du.edu', 3030002231],
 875: ['LA', 'James@du.edu', 3030002232]}

In [21]:
del student_dict[871]

In [22]:
student_dict

{872: ['AZ', 'Bob@du.edu', 3030001235],
 874: ['CO', 'Madison@du.edu', 3030002231],
 875: ['LA', 'James@du.edu', 3030002232]}

In [19]:
# remove entry? dict.pop() or del dict[key]
print(student_dict.keys())
print(student_dict.pop(872))
print(student_dict.keys())

dict_keys([871, 872, 873, 874, 875])
['AZ', 'Bob@du.edu', 3030001235]
dict_keys([871, 873, 874, 875])

In [20]:
print(student_dict.keys())
del student_dict[871]
print(student_dict.keys())

dict_keys([871, 873, 874, 875])
dict_keys([873, 874, 875])

## More on Data Structures
- More built in data structures in Python: Tuples, Sets 
https://docs.python.org/3/tutorial/datastructures.html
- There are many more functionalities you can do with Lists & Dictionaries
    - You can sort values in a list
    - You can count how many times an element appears in a list
    - Same as nested lists, you can build a nested dictionaries
- Another important point about these data structures is that most of them are iterables, meaning we get to write loops based on them

<img src='Pics/dictionaries_vs_lists.jpg' />

# For Loops
Not an actual loop, rather a sequence of similar actions.
<img src='Pics/for loop.png'>

A quick example- calculate each number's squared value from 1 to 10?

In [23]:
print(1**2)
print(2**2)
print(3**2)
print(4**2)
print(5**2)
print(6**2)
print(7**2)
print(8**2)
print(9**2)
print(10**2)

1
4
9
16
25
36
49
64
81
100

In [27]:
for number in [1,2,3,4,5,6,7,8,9,10]:
    print(number**2)

1
4
9
16
25
36
49
64
81
100

What if I want 1 to 25? <br>
A: Generate integers/iterables using range()
- range() has an important feature- it starts from the first number, and excludes the ending number. Thus, range(0,5) acutally means 0 to 4.

In [28]:
for n in [1,3,5,7,9]:
    print(n**2)

1
9
25
49
81

In [29]:
for n in range(10,0,-1):
    print(n**2)

100
81
64
49
36
25
16
9
4
1

Back to the example of students in the class, lets print out each student's phone number and associated Email.
recap:
- lists use indices
- dicts use keys

In [32]:
for student in student_list:
    print( student[ 1:3] )

['CO', 'Jack@du.edu']
['AZ', 'Bob@du.edu']
['FL', 'Lisa@du.edu']
['CO', 'Madison@du.edu']
['LA', 'James@du.edu']

In [35]:
student_list=[
        [871, "CO","Jack@du.edu",3030001234],
        [872, "AZ","Bob@du.edu",3030001235],
        [873, "FL","Lisa@du.edu",3030001236],
        [874, "CO","Madison@du.edu",3030002231],
        [875, "LA","James@du.edu",3030002232]
]

In [36]:
for s in student_list:
    print(s[2],s[3])

Jack@du.edu 3030001234
Bob@du.edu 3030001235
Lisa@du.edu 3030001236
Madison@du.edu 3030002231
James@du.edu 3030002232